{% extends '@Layouts/modal.html.twig' %}

{% block modalId %}comingSoon{% endblock %}
{% block modalTitleText %}Coming soon{% endblock %}

{% block modalBody %}
<p>{{ 'coming.soon.description'|trans({}, "modal")|raw }}</p>
<p>{{ 'coming.soon.form.text'|trans({}, "modal")|raw }}</p>
<form target="_blank" id="modal-subscribe-form" class="-ajax" role="subscribe" action="{{ mailchimp_form.action|raw }}" method="{{ mailchimp_form.method }}" novalidate>
    <div class="input-group input-group-lg">
        <span class="input-group-addon">@</span>
        <input id="modal-subscribe-email" name="EMAIL" class="form-control required email" type="text" placeholder="{{ 'email.placeholder'|trans({}, "global") }}"/>
        {#<input type="hidden" name="FNAME" value=""/>#}
        <span class="input-group-btn">
            <button id="modal-subscribe-submit" data-loading-text="{{ 'button.loading-text'|trans({}, "global") }}" name="subscribe" class="btn btn-default" type="submit">{{ 'button.subscribe-me'|trans({}, "global") }}</button>
        </span>
    </div>
</form>
{% endblock %}

{% block modalFooter %}{% endblock %}