<div>Admin</div>
<div>
    {{ form_start(pot_form, {'attr': {
        'id': 'pot_form'
        ,'class': 'ajax'
    }}) }}

    {{ form_errors(pot_form) }}

    {{ form_widget(pot_form.occasion) }}
    {{ form_widget(pot_form.admin_name) }}
    {{ form_widget(pot_form.admin_email) }}
    {{ form_widget(pot_form.deadline) }}
    {{ form_widget(pot_form.amount_partial) }}
    {{ form_widget(pot_form.amount_total) }}
    {{ form_widget(pot_form.bank_account) }}

    {{ form_end(pot_form) }}
</div>
