{% extends '@Layouts/default.html.twig' %}

{% block body_id %}pot-show{% endblock %}

{% block content %}
    {% if isAdmin %}
        {{ form_start(form, {'attr': {'class': 'pot_form'}}) }}
        {{ form_errors(form) }}

        {{ form_widget(form.occasion) }}
        {{ form_widget(form.admin_name) }}
        {{ form_widget(form.admin_email) }}
        {{ form_widget(form.deadline) }}
        {{ form_widget(form.amount_partial) }}
        {{ form_widget(form.amount_total) }}
        {{ form_widget(form.bank_account) }}

        <button type="submit">Save</button>

        {{ form_end(form) }}
    {% else %}
        {{ pot.occasion }}
        {{ pot.adminName }}
        {{ pot.deadline|date() }}
        {{ pot.amountPartial }}
        {{ pot.amountTotal }}
        {{ pot.bankAccount }}
    {% endif %}
{% endblock %}

{% block foot_scripts %}
    {{ parent() }}

    <script>
        function postForm( $form, callback ){
            var values = {};
            $.each( $form.serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });

            $.ajax({
                type        : $form.prop( 'method' ),
                url         : $form.prop( 'action' ),
                data        : values,
                success     : function(data) {
                    callback( data );
                }
            });
        }

        $(document).ready(function(){
            var $form = $('.pot_form');

            $( $form ).submit( function( e ){
                e.preventDefault();

                postForm( $(this), function( response ){
                    console.log( response.success );
                });

                return false;
            });
        });
    </script>
{% endblock %}
